<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="INSY_API.Lib.Properties.Settings.ConnectionString"
            connectionString="Data Source=localhost;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>